matrix:
  include:
    - os: osx
      osx_image: xcode8
      language: generic
      sudo: required
      env: PYTHON_VERSION="2"
    - os: osx
      language: generic
      sudo: required
      env: PYTHON_VERSION="3"
    - os: linux
      sudo: required
      dist: xenial
      language: python
      python: "2.7_with_system_site_packages"
      env: PACKAGES="xvfb gir1.2-gtk-3.0 gir1.2-webkit2-4.0 python-gi python-gi-cairo pep8 pyflakes python-pytest python-six" PYTHON="python"
    - os: linux
      sudo: required
      dist: xenial
      language: python
      env: PACKAGES="xvfb gir1.2-gtk-3.0 gir1.2-webkit2-4.0 python3-gi python3-gi-cairo python3-pep8 pyflakes python3-pytest python3-six" PYTHON="python3"
      python: "3.5_with_system_site_packages"
    - os: linux
      sudo: required
      dist: xenial
      language: python
      python: "3.5_with_system_site_packages"
      env: 
         - PACKAGES="xvfb python3-pyqt5 python3-pyqt5.qtwebkit libqt5webkit5-dev python3-pep8 pyflakes python3-pytest python3-six" PYTHON="python3"
         - PIP_PACKAGES="pyqt5 pyqtwebengine"
         - PYTHON_VERSION="3"
         - PYWEBVIEW_GUI=qt
    - os: linux
      sudo: required
      dist: xenial
      language: python
      python: "2.7_with_system_site_packages"
      env: 
          - PACKAGES="xvfb python-pyqt5 python-pyqt5.qtwebkit libqt5webkit5-dev pep8 pyflakes python-pytest" PYTHON="python"
          - PACKAGES="xvfb pep8 pyflakes python-pytest" PYTHON="python"
          - PIP_PACKAGES="pyqt5 pyqtwebengine"
          - PYTHON_VERSION="2"
          - PYWEBVIEW_GUI=qt
install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] && [[ "$PYTHON_VERSION" == "3" ]]; then pip3 install pyobjc pytest six; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]] && [[ "$PYTHON_VERSION" == "2" ]]; then sudo pip2 install pyobjc pytest six; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get update -q; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo apt-get install --no-install-recommends -y $(echo $PACKAGES); fi
  # - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$PYTHON_VERSION" == "3" ]]; then pip3 install pyqt5 $(echo $PIP_PACKAGES); fi
  # - if [[ "$TRAVIS_OS_NAME" == "linux" ]] && [[ "$PYTHON_VERSION" == "2" ]]; then pip install pyqt5 $(echo $PIP_PACKAGES); fi

before_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export DISPLAY=:99.0; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1920x1200x24 -ac +extension GLX +render -noreset; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sleep 3; fi

script:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then if [[ "$PYTHON_VERSION" == "3" ]]; then python3 -m pytest tests -s; else python2 -m pytest tests -s; fi; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then python -m pytest tests -s; fi

after_script:
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then killall Xvfb; fi

notifications:
  email: false

