include webview/lib/WebBrowserInterop.x64.dll
include webview/lib/WebBrowserInterop.x86.dll
include webview/lib/Microsoft.Web.WebView2.Core.dll
include webview/lib/Microsoft.Web.WebView2.LICENSE.md
include webview/lib/Microsoft.Web.WebView2.WinForms.dll