keyboard==0.13.5
proxy-tools==0.1.0
pyobjc-core==8.5.1
pyobjc-framework-ApplicationServices==8.5.1
pyobjc-framework-Cocoa==8.5.1
pyobjc-framework-Quartz==8.5.1
pyobjc-framework-WebKit==8.5.1
six==1.16.0
