.hero
  h1
    display: none

h1
  margin-top: 2rem;

.center
  text-align: center

.spc-m
  margin: 1rem

.spc-l
  margin: 2rem

.spc-vertical
  margin-left: 0
  margin-right: 0

.spc-bottom
  margin-top: 0
  margin-right: 0
  margin-left: 0

.small
  font-size: 80%

.date
  font-size: 8pt
  display: block
  opacity: 0.6


.navbar .logo
  min-width: 0 !important

.version
  line-height: 160%

.gallery
  display: flex
  justify-content: space-evenly
  text-align: center

  img
    max-height: 8rem
