Package: {{ package_name }}
Version: {{ version }}
Section: base
Priority: optional
Architecture: {{ architecture }}
Depends: {{ depends }}
Maintainer: {{ product_name }} <noreply@example.com>
Description: {{ product_name }}
