.hero
  h1
    display: none

.center
  text-align: center

.spc-m
  margin: 1rem

.spc-l
  margin: 2rem

.spc-vertical
  margin-left: 0
  margin-right: 0

.spc-bottom
  margin-top: 0
  margin-right: 0
  margin-left: 0

.small
  font-size: 80%