<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ product_name }}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>{{ product_name }}</h1>
    <p>Edit <code>frontend/index.html</code> and run <code>pywebview dev</code> to get started.</p>
    <script src="script.js"></script>
  </body>
</html>
